@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="jumbotron text-center">
  <h2>List of Sytlists</h2>
</div>
<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("Add new stylist", "Create")</button>
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("Home", "Index", "Home")</button>
  </div>
</div>
<hr />
<div>
  @using (Html.BeginForm("Index","Stylists",FormMethod.Get))
  {    
    <p>
      Name: @Html.TextBox("SearchString") 
      <input type="submit" value="Filter" />
    </p> 
  }
</div> 
<div>
  @if (@Model.Count == 0)
  {
    <h3>No stylists have been added yet!</h3>
  } 

  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
  }
</div>


